[Unit]
Description=Proton Drive Sync System Tray Icon
After=proton-sync.service
Requisite=proton-sync.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=__INSTALL_DIR__/proton-drive-tray.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
